<!DOCTYPE html>
<html lang="en">

<head>
    <%-head%>
</head>

<body>

    <div class="nav-bar">
        <div class="d-flex align-items-center gap-3">
            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-text">HIJ</div>
        </div>
        <div class="d-flex align-items-center">
            <p class="breadcrumb mt-3">
                Enquiry Detail
            </p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <i class="fa-regular fa-comment menu-icon"></i>
            <i class="fa-regular fa-bell menu-icon"></i>
            <div class="d-flex flex-column">
                <span class="user-name">Samiksha Singh</span>
                <span class="user-team">Team: <span>Bruno Mars</span></span>
            </div>
            <i class="fa-regular fa-circle-user menu-icon-user"></i>
        </div>
    </div>

    <div class="mx-5">

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">CR No</label>
                    <input type="text" class="form-control w-full" id="crNo">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Buyer</label>
                    <div class="">
                        <select name="" id="buyer" class="form-control w-full">
                            <option value="">test</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Enquiry Date</label>
                    <input type="date" class="form-control w-full" id="enquiryDate">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Style No</label>
                    <input type="number" class="form-control w-full" id="styleNo">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Image</label>
                    <input type="file" class="form-control w-full" id="clientName">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Fabric blend</label>
                    <input type="text" class="form-control w-full" id="fabricBlend">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Combo No</label>
                    <input type="number" class="form-control w-full" id="comboNo">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Value added process</label>
                    <input type="text" class="form-control w-full" id="valueAddedProcess">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Projected Qty pieces</label>
                    <input type="number" class="form-control w-full" id="projectedQty">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">SAM/Pcs</label>
                    <input type="number" class="form-control w-full" id="samPcs">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Lapdip No</label>
                    <input type="number" class="form-control w-full" id="lapdipNo">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Expected Order placement date</label>
                    <input type="date" class="form-control w-full" id="orderPlacementDate">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Quoted Price</label>
                    <input type="number" class="form-control w-full" id="quotedPrice">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Fabric price</label>
                    <input type="number" class="form-control w-full" id="fabricPrice">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Fabric Consumption</label>
                    <input type="text" class="form-control w-full" id="fabricConsumption">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Yarn Price</label>
                    <input type="number" class="form-control w-full" id="yarnPrice">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Lapdip cost</label>
                    <input type="number" class="form-control w-full" id="lapdipCost">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Trim Cost</label>
                    <input type="number" class="form-control w-full" id="trimCost">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">Tech-pack</label>
                    <input type="file" class="form-control w-full" id="techPack">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group w-100 mb-5">
                    <label class="form-label mb-3" for="">GSM</label>
                    <input type="number" class="form-control w-full" id="gsm">
                </div>
            </div>
        </div>

        <div class="footer">
            <button type="submit" class="btn btn-primary mb-4 theme-primary-btn">Save</button>
        </div>

        <%-script%>
</body>

</div>

</html>