<!DOCTYPE html>
<html lang="en">

<head>
    <%-head%>
</head>

<body>

    <%-nav%>

    <div class="mx-5">

        <div class="mt-5">
          <table class="table1">
            <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email ID</th>
                <th scope="col">Head Office</th>
                <th scope="col">More Detail</th>
                <th scope="col"><img width="20" height="20" class="me-2" src="/assets/images/icons/plus-square.svg" alt="">Add More</th>
              </tr>
            </thead>
            <tbody>
              
              <% clients.forEach((item, index)=>{%>
                <tr>
                  <td><%=item.name%></td>
                  <td><%=item.contact_number%></td>
                  <td><%=item.email%></td>
                  <td><%=item.head_office_address%></td>
                  <td>
                    <div class="dropdown dropend">
                      <button class="btn btn-sm p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/images/icons/Group 482180.svg" alt="dropdown" width="25" height="25">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" >Delete</a></li>
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                      </ul>
                    </div>
                  </td>
                  </td>
                  <td>
                  </td>
                </tr>
              <%})%>
        
               
            </tbody>
          </table>
        </div>

        <%-script%>
        <script>
          function deleteClient(){

          }
        </script>
       
</body>

</div>

</html>