<!DOCTYPE html>
<html lang="en">

<head>
    <%-head%>
</head>

<body>

    <%-nav%>

    <div class="mx-5">

        <div class="mt-5">
          <table class="table1">
            <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email ID</th>
                <th scope="col">Head Office</th>
                <th scope="col">More Detail</th>
                <th scope="col">Add More</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>name name</td>
                  <td>05586565</td>
                  <td>sanjana@gmail.com</td>
                  <td>head office address</td>
                  <td><button class="btn btn-sm btn-danger" onclick="deleteUser(event)">Delete</button></td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>name name</td>
                  <td>05586565</td>
                  <td>sanjana@gmail.com</td>
                  <td>head office address</td>
                  <td><button class="btn btn-sm btn-danger" onclick="deleteUser(event)">Delete</button></td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>name name</td>
                  <td>05586565</td>
                  <td>sanjana@gmail.com</td>
                  <td>head office address</td>
                  <td><button class="btn btn-sm btn-danger" onclick="deleteUser(event)">Delete</button></td>
                  <td>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>

        <%-script%>
</body>

</div>

</html>