<!DOCTYPE html>
<html lang="en">

<head>
    <%-head%>
</head>

<body>

    <%-nav%>

        <div class="m-3">
            <div class="d-flex gap-3">
                <div class="d-flex flex-column bg-white shadow p-3">
                    <div>New Enquiry</div>
                    <img src="/assets/images/icons/plus.png" alt="">
                </div>
            </div>
            <div class="d-flex gap-3 flex-wrap mt-3">
                <div class="bg-white p-4 shadow col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div>sample status</div>
                            <div>70</div>
                        </div>
                        <div>
                            <select name="" id="" class="form-select">
                                <option>customer</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="piechart1"></canvas>
                    <div class="d-flex flex-wrap">
                        <div class="col-6">Approved Sample</div>
                        <div class="col-6">In Development</div>
                        <div class="col-6">Pending Approval</div>
                        <div class="col-6">Re-Development</div>
                    </div>
                </div>
                <div class="bg-white p-4 shadow col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div>sample status</div>
                            <div>70</div>
                        </div>
                        <div>
                            <select name="" id="" class="form-select">
                                <option>customer</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="piechart2"></canvas>
                    <div class="d-flex flex-wrap">
                        <div class="col-6">Approved Sample</div>
                        <div class="col-6">In Development</div>
                        <div class="col-6">Pending Approval</div>
                        <div class="col-6">Re-Development</div>
                    </div>
                </div>
                <div class="bg-white p-4 shadow col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div>sample status</div>
                            <div>70</div>
                        </div>
                        <div>
                            <select name="" id="" class="form-select">
                                <option>customer</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="piechart3"></canvas>
                    <div class="d-flex flex-wrap">
                        <div class="col-6">Approved Sample</div>
                        <div class="col-6">In Development</div>
                        <div class="col-6">Pending Approval</div>
                        <div class="col-6">Re-Development</div>
                    </div>
                </div>
                <div class="bg-white p-4 shadow col">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div>sample status</div>
                            <div>70</div>
                        </div>
                        <div>
                            <select name="" id="" class="form-select">
                                <option>customer</option>
                            </select>
                        </div>
                    </div>
                    <canvas id="piechart4"></canvas>
                    <div class="d-flex flex-wrap">
                        <div class="col-6">Approved Sample</div>
                        <div class="col-6">In Development</div>
                        <div class="col-6">Pending Approval</div>
                        <div class="col-6">Re-Development</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="row mb-4">
                <div class="col-md-6 custom-bg">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Approved Sample</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>Pending Sample Approval</h6>
                        </div>
                        <div class="col-md-2">
                            <h6>In Development</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>Re-Development</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-3 align-items-center">
                        <div class="col-md-1">
                            <h6>Count:</h6>
                        </div>
                        <div class="col-md-1">
                            <input type="number" class="form-control" placeholder="0" aria-label="Count">
                        </div>
                        <div class="col-md-1">
                            <i class="fas fa-filter"></i> <!-- Use Font Awesome for filter icon -->
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i> <!-- Use Font Awesome for search icon -->
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>GSR No</th>
                                <th>Buyer</th>
                                <th>Enquiry Date</th>
                                <th>Style No</th>
                                <th>Development Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PP1234457</td>
                                <td>PACT APPAREL</td>
                                <td>18-Feb-2024</td>
                                <td>WAI-1MIN-12</td>
                                <td>Only For Garment</td>
                                <td><a href="#">Sample Request</a></td>
                            </tr>
                            <tr>
                                <td>SMS1234459</td>
                                <td>PRANA</td>
                                <td>18-Jan-2024</td>
                                <td>WIX</td>
                                <td>Only For Fabric</td>
                                <td><a href="#">Sample Request</a></td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
        
                <div class="col-md-6 custom-bg">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <h6>Approved Costing</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>Pending Costing Approval</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>Active Costing</h6>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CSR No</th>
                                <th>Buyer</th>
                                <th>Enquiry Date</th>
                                <th>Style No</th>
                                <th>Enquiry No</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cost123456</td>
                                <td>PACT APPAREL</td>
                                <td>18-Feb-2024</td>
                                <td>WAI-1MIN-12</td>
                                <td>123456</td>
                                <td><a href="#">Sample Request</a></td>
                            </tr>
                            <tr>
                                <td>Cost123457</td>
                                <td>PRANA</td>
                                <td>17-Feb-2024</td>
                                <td>GHT</td>
                                <td>123456</td>
                                <td><a href="#">Sample Request</a></td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

    <%-script%>
    <script>
        const ctx1 = document.getElementById('piechart1');
        const ctx2 = document.getElementById('piechart2');
        const ctx3 = document.getElementById('piechart3');
        const ctx4 = document.getElementById('piechart4');
        const data = {
            labels: [
            ],
            datasets: [{
                label: 'sample status',
                data: [300, 50, 100],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(100, 205, 255)',
                ],
                hoverOffset: 4
            }]
            };
      
        new Chart(ctx1, {
            type: 'pie',
            data: data,
        });
        new Chart(ctx2, {
            type: 'pie',
            data: data,
        });
        new Chart(ctx3, {
            type: 'pie',
            data: data,
        });
        new Chart(ctx4, {
            type: 'pie',
            data: data,
        });
    </script>
       
               
</body>

</div>

</html>