<!DOCTYPE html>
<html lang="en">

<head>
  <%-head%>
</head>

<body>

  <%-nav%>

    <div class="mx-5">

      <div class="mt-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CR No</th>
              <th scope="col">Buyer</th>
              <th scope="col">Enquiry Date</th>
              <th scope="col">Style No</th>
              <th scope="col">Image</th>
              <th scope="col">Fabric blend</th>
              <th scope="col">Combo No</th>
              <th scope="col">Value added process</th>
              <th scope="col">Projected Qty pieces</th>
              <th scope="col">SAM/Pcs</th>
              <th scope="col">Lapdip No</th>
              <th scope="col">Expected Order placement date</th>
              <th scope="col">Quoted Price</th>
              <th scope="col">Fabric price</th>
              <th scope="col">Fabric Consumption</th>
              <th scope="col">Yarn Price</th>
              <th scope="col">Lapdip cost</th>
              <th scope="col">Trim Cost</th>
              <th scope="col">Tech-pack</th>
              <th scope="col">GSM</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <% for (const data of orders) { %>
              <tr>
                <td><%= data.cr_number %></td>
                <td><%= data.buyer_name %></td>
                <td><%= new Date(data.enquiry_date).toLocaleDateString('en-CA') %></td>
                <td><%= data.style_no %></td>
                <td><%= data.image %></td>
                <td><%= data.fabric_blend %></td>
                <td><%= data.combo_no %></td>
                <td><%= data.value_added_process %></td>
                <td><%= data.projected_qty_pieces %></td>
                <td><%= data.sam_per_piece %></td>
                <td><%= data.lapdip_no %></td>
                <td><%= new Date(data.expected_order_placement_date).toLocaleDateString('en-CA') %></td>
                <td><%= data.quoted_price %></td>
                <td><%= data.fabric_price %></td>
                <td><%= data.fabric_consumption %></td>
                <td><%= data.yarn_price %></td>
                <td><%= data.lapdip_cost %></td>
                <td><%= data.trim_cost %></td>
                <td><%= data.tech_pack %></td>
                <td><%= data.gsm %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%-script%>
        <script>

          $(document).ready(function () {
          });


          $(document).ready(function () {
            $('.delete-button').click(function (e) {
              e.preventDefault();
              var id = $(this).data('id');
              deleteClient(id);
            });
          });
          function deleteClient(id) {
            showAlert({
              message: "Are you sure you want to delete this client?",
              closeText: 'no',
              acceptText: 'yes',
              acceptFunction: () => {
                $.ajax({
                  url: '/api/v1/client/delete',
                  type: 'POST',
                  data: { id: id },
                  success: function (response) {
                    if (response.status) {
                      location.reload();
                    } else {
                      showAlert({
                        message: "ERROR: " + response.message,
                        closeText: 'ok',
                      });
                    }
                  },
                  error: function (err) {
                    console.log(err);
                  }
                });
              },
            });
          }
        </script>

</body>

</div>

</html>