<!DOCTYPE html>
<html lang="en">

<head>
    <%- head %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
</head>

<body>

    <%- nav %>

    <div class="mx-5 mt-5">
        <div class="row mb-2">
            <!-- First Column: Customer, Enquiry, File -->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-6">
                        <h5>Customer:</h5>
                    </div>
                    <div class="col-6">
                        <span id="customerName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>Enquiry:</h5>
                    </div>
                    <div class="col-6">
                        <span id="enquiryType"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>File:</h5>
                    </div>
                    <div class="col-6">
                        <span><a href="#" id="fileLink"></a></span>
                    </div>
                </div> 
            </div>
        
            <!-- Second Column: Enquiry No, Enquiry Date -->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-6">
                        <h5>Enquiry No:</h5>
                    </div>
                    <div class="col-4">
                        <span id="enquiryNo"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>Enquiry Date:</h5>
                    </div>
                    <div class="col-4">
                        <span id="enquiryDate"></span>
                    </div>
                </div>
            </div>
        
            <!-- Third Column: GSR No, Garment Sketch -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2 offset-md-2">
                        <h5>GSR No:</h5>
                    </div>
                    <div class="col-2">
                        <span id="gsrNo"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-10 offset-md-7 d-flex justify-content-start align-items-center">
                <h5>Garment Sketch:</h5>
            </div>
            <div class="col-md-4">
                <h5 class="mb-5"><b>Main Body Fabric</b></h5>
                <div id="fabric-container">
                    <div class="fabric-section" id="fabric-section-template">
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="knitStructure" class="col-form-label">Knit Structure:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="knitStructure" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="blend" class="col-form-label">Blend:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="blend" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="gsm" class="col-form-label">GSM:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="gsm" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="finish" class="col-form-label">Finish:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="finish" value="">
                            </div>
                        </div>
                        
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="dryMethod" class="col-form-label">Dry Method:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="dryMethod" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="placement" class="col-form-label">Placement:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="placement" value="">
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <!-- Add Button with Plus Icon -->
                    <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                        <span class="text-white" style="font-size: 20px;">+</span>
                    </button> -->
                
                    <!-- Add More Button with Ellipse -->
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" id="add-more-button-fabric" onclick="cloneSection('fabric-container','fabric-section-template')">
                        Add More
                    </button>
                </div>
                <h5 class="mb-5 mt-5"><b>Accessory Fabric</b></h5>
                <div id="fabric-container-accessory">
                    <div class="accessory-section" id="accessory-section-template">
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="knitStructure" class="col-form-label">Knit Structure:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="knitStructureAccessory" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="blend" class="col-form-label">Blend:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="blendAccessory" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="gsm" class="col-form-label">GSM:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="gsmAccessory" value="">
                            </div>
                        </div>
                    
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="placement" class="col-form-label">Placement:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="placementAccessory" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <!-- Add Button with Plus Icon -->
                    <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                        <span class="text-white" style="font-size: 20px;">+</span>
                    </button> -->
                
                    <!-- Add More Button with Ellipse -->
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" onclick="cloneSection('fabric-container-accessory','accessory-section-template')">
                        Add More
                    </button>
                </div>
                <div class="mt-5" id="fabric-container-combo">
                    <div class="accessory-section-combo" id="combo-section-template">
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="comboNo" class="col-form-label">Combo No:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="comboNo" value="">
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-md-3">
                                <label for="comboNo" class="col-form-label">Size & Pieces:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="select" class="form-control" id="size" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="Pieces" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <!-- Add Button with Plus Icon -->
                    <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                        <span class="text-white" style="font-size: 20px;">+</span>
                    </button> -->
                
                    <!-- Add More Button with Ellipse -->
                    <button type="button" class="btn btn-primary" style="border-radius: 25px;" onclick="cloneSection('fabric-container-combo','combo-section-template')">
                        Add More
                    </button>
                </div>
                
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 d-flex flex-column align-items-center mt-5">
                        <h5 class="mt-4"><b>Value Added Process</b></h5>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input larger-checkbox" type="checkbox" value="AOP" id="aop">
                                <label class="form-check-label label-margin" for="aop">
                                    AOP
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input larger-checkbox" type="checkbox" value="Printing" id="printing">
                                <label class="form-check-label label-margin" for="printing">
                                    Printing
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input larger-checkbox" type="checkbox" value="Embroidery" id="embroidery">
                                <label class="form-check-label label-margin" for="embroidery">
                                    Embroidery
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input larger-checkbox" type="checkbox"  value="GMT Wash" id="gmtWash">
                                <label class="form-check-label label-margin" for="gmtWash">
                                    GMT. Wash
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                        <!-- Default Image / Image Preview -->
                        <img src="assets/images/1594466867group-339-png.png" alt="Value Added Process Image" id="imagePreview" class="img-fluid" style="max-width: 600px; height: 350px; cursor: pointer;" onclick="document.getElementById('imageUpload').click()">
                        <!-- File Upload Input (Hidden) -->
                        <input type="file" id="imageUpload" accept="image/*" style="display:none" onchange="previewImage(event)">
                    </div>
                </div>
                
                <div class="row mt-5">
                    <h5 class="mt-4"><b>Trims</b></h5>
                    <hr style="border: 3px solid #000;">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="trim-container">
                                <div class="trim-section" id="trim-template">
                                    <h6><b>Button 1:</b></h6>
                                    <div class="ml-2">
                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-3">
                                                <label for="buttonDescription" class="col-form-label">Description:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="buttonDescription" value="">
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-3">
                                                <label for="buttonContent" class="col-form-label">Content:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="buttonContent" value="">
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-3">
                                                <label for="buttonPlacement" class="col-form-label">Placement:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="buttonPlacement" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <!-- Add Button with Plus Icon -->
                                <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                                    <span class="text-white" style="font-size: 20px;">+</span>
                                </button> -->
                            
                                <!-- Add More Button with Ellipse -->
                                <button type="button" class="btn btn-primary" style="border-radius: 25px;" onclick=" cloneWithLabelCount('trim-container','trim-template','Button')">
                                    Add More
                                </button>
                            </div>

                            <div id="thread-container">
                                <div class="mt-5 trim-section-thread" id="thread-template">
                                    <h6><b>Thread 1:</b></h6>
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="thread1Description" class="col-form-label">Description:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="threadDescription" value="">
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="thread1Content" class="col-form-label">Content:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="threadContent" value="">
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="thread1Placement" class="col-form-label">Placement:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="threadPlacement" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Button with Plus Icon -->
                            <div class="d-flex align-items-center">
                                <!-- Add Button with Plus Icon -->
                                <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                                    <span class="text-white" style="font-size: 20px;">+</span>
                                </button> -->
                            
                                <!-- Add More Button with Ellipse -->
                                <button type="button" class="btn btn-primary" style="border-radius: 25px;" onclick=" cloneWithLabelCount2('thread-container','thread-template','Thread')">
                                    Add More
                                </button>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div id="label-container">
                                <div class="label-section" id="label-template">
                                    <h6><b>Label 1:</b></h6>
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="label1Description" class="col-form-label">Description:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="label1Description" value="">
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-md-3">
                                            <label for="label1Placement" class="col-form-label">Placement:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="label1Placement" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <!-- Add Button with Plus Icon -->
                                <!-- <button type="button" class="btn btn-primary rounded-circle" style="width: 35px; height: 25px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                                    <span class="text-white" style="font-size: 20px;">+</span>
                                </button> -->
                        
                                <!-- Add More Button with Ellipse -->
                                <button type="button" class="btn btn-primary" style="border-radius: 25px;" onclick=" cloneWithLabelCount3('label-container','label-template','label')">
                                    Add More
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mt-5">
            <!-- Point of Measure -->
            <div class="col-md-2">
                <label for="pointOfMeasure">Po.Of Measure</label>
                <input type="text" class="form-control" id="pointOfMeasure">
            </div>
        
            <!-- Code -->
            <div class="col-md-1">
                <label for="code">Code</label>
                <input type="text" class="form-control" id="code">
            </div>
        
            <!-- How to Measure -->
            <div class="col-md-2">
                <label for="howToMeasure">How to Measure</label>
                <input type="text" class="form-control" id="howToMeasure">
            </div>
        
            <!-- Critical -->
            <div class="col-md-1">
                <label for="critical">Critical</label>
                <input type="text" class="form-control" id="critical">
            </div>
        
            <!-- Type -->
            <div class="col-md-1">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type">
            </div>
        
            <!-- Tolerance -->
            <div class="col-md-1">
                <label for="tolerance">Tolerance</label>
                <input type="text" class="form-control" id="tolerance">
            </div>
        
            <!-- S -->
            <div class="col-md-1">
                <label for="sizeS">S</label>
                <input type="text" class="form-control" id="sizeS">
            </div>
        
            <!-- M -->
            <div class="col-md-1">
                <label for="sizeM">M</label>
                <input type="text" class="form-control" id="sizeM">
            </div>
        
            <!-- L -->
            <div class="col-md-1">
                <label for="sizeL">L</label>
                <input type="text" class="form-control" id="sizeL">
            </div>
        
            <!-- XL -->
            <div class="col-md-1">
                <label for="sizeXL">XL</label>
                <input type="text" class="form-control" id="sizeXL">
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-2 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" id="addRowBtn">Add</button>
            </div>
        </div>
        <table class="table table-bordered mt-4" id="dataTable">
            <thead>
                <tr>
                    <th>Point of Measure</th>
                    <th>Code</th>
                    <th>How to Measure</th>
                    <th>Critical</th>
                    <th>Type</th>
                    <th>Tolerance</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be appended here dynamically -->
            </tbody>
        </table>
        <div class="row justify-content-end"></div>
            <div class="col-md-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </div>
        </div>
        
    </div>

    <%- script %>
    <script>
       
       function cloneSection(containerId, sectionId) {
            // Get the container and the section template
            const container = document.getElementById(containerId);
            const sectionTemplate = document.getElementById(sectionId);
            
            // Clone the template section
            const clone = sectionTemplate.cloneNode(true);
            
            // Reset the values in the cloned section
            const inputs = clone.querySelectorAll('input');
            inputs.forEach(input => {
                input.value = ''; // Clear the input values
            });

            // Remove the ID from the cloned section to avoid duplicate IDs
            clone.removeAttribute('id');
            
            // Create a new remove button
            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                removeSection(removeButton);
            };

            // Append the remove button to the cloned section
            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'row mb-3 d-flex justify-content-end';
            const buttonCol = document.createElement('div');
            buttonCol.className = 'col-md-4';
            buttonCol.appendChild(removeButton);
            buttonContainer.appendChild(buttonCol);
            
            // Append the button container to the cloned section
            clone.appendChild(buttonContainer);
            // Append the cloned section to the container
            container.appendChild(clone);
        }

        function removeSection(button) {
            // Remove the closest fabric-section parent of the button
            const section = button.closest('.fabric-section')|| button.closest('.accessory-section-combo') || button.closest('.accessory-section') || button.closest('.trim-section')|| button.closest('.label-section')|| button.closest('.trim-section-thread');
            if (section) {
                section.remove();
            }
        }
        let buttonCount = 1;

        function cloneWithLabelCount(containerId, sectionId,ButtonName) {
            buttonCount++; // Increment the counter
            const trimContainer = document.getElementById(containerId);

            // Clone the trim template
            const newTrimSection = document.getElementById(sectionId).cloneNode(true);

            // Update the title and labels with the new button count
            newTrimSection.querySelector('h6 b').textContent = `${ButtonName} ${buttonCount}:`;
            newTrimSection.querySelectorAll('label').forEach(label => {
                const currentText = label.textContent;
                label.textContent = currentText.replace(/\d+/, buttonCount); 
            });

            // Clear input values for new section
            newTrimSection.querySelectorAll('input').forEach(input => {
                input.value = '';
            });

            // Create a new remove button
            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                removeSection(removeButton);
            };

            // Append the remove button to the cloned section
            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'row mb-3 d-flex justify-content-end';
            const buttonCol = document.createElement('div');
            buttonCol.className = 'col-md-4';
            buttonCol.appendChild(removeButton);
            buttonContainer.appendChild(buttonCol);

            // Append the remove button container to the cloned section
            newTrimSection.appendChild(buttonContainer);
            // Append the cloned section to the container
            trimContainer.appendChild(newTrimSection);
        }

        let buttonCount1 = 1;
        function cloneWithLabelCount2(containerId, sectionId,ButtonName) {
            buttonCount1++; // Increment the counter
            const trimContainer = document.getElementById(containerId);

            // Clone the trim template
            const newTrimSection = document.getElementById(sectionId).cloneNode(true);

            // Update the title and labels with the new button count
            newTrimSection.querySelector('h6 b').textContent = `${ButtonName} ${buttonCount1}:`;
            newTrimSection.querySelectorAll('label').forEach(label => {
                const currentText = label.textContent;
                label.textContent = currentText.replace(/\d+/, buttonCount1); 
            });

            // Clear input values for new section
            newTrimSection.querySelectorAll('input').forEach(input => {
                input.value = '';
            });

            // Create a new remove button
            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                removeSection(removeButton);
            };

            // Append the remove button to the cloned section
            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'row mb-3 d-flex justify-content-end';
            const buttonCol = document.createElement('div');
            buttonCol.className = 'col-md-4';
            buttonCol.appendChild(removeButton);
            buttonContainer.appendChild(buttonCol);

            // Append the remove button container to the cloned section
            newTrimSection.appendChild(buttonContainer);
            // Append the cloned section to the container
            trimContainer.appendChild(newTrimSection);
        }

        let buttonCount2 = 1;
        function cloneWithLabelCount3(containerId, sectionId,ButtonName) {
            buttonCount2++; // Increment the counter
            const trimContainer = document.getElementById(containerId);

            // Clone the trim template
            const newTrimSection = document.getElementById(sectionId).cloneNode(true);

            // Update the title and labels with the new button count
            newTrimSection.querySelector('h6 b').textContent = `${ButtonName} ${buttonCount2}:`;
            newTrimSection.querySelectorAll('label').forEach(label => {
                const currentText = label.textContent;
                label.textContent = currentText.replace(/\d+/, buttonCount2); 
            });

            // Create a new remove button
            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                removeSection(removeButton);
            };

            // Append the remove button to the cloned section
            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'row mb-3 d-flex justify-content-end';
            const buttonCol = document.createElement('div');
            buttonCol.className = 'col-md-4';
            buttonCol.appendChild(removeButton);
            buttonContainer.appendChild(buttonCol);

            // Append the remove button container to the cloned section
            newTrimSection.appendChild(buttonContainer);
            // Clear input values for new section
            newTrimSection.querySelectorAll('input').forEach(input => {
                input.value = '';
            });

            // Append the cloned section to the container
            trimContainer.appendChild(newTrimSection);
        }

        document.getElementById('addRowBtn').addEventListener('click', function() {
            // Get values from form inputs
            const pointOfMeasure = document.getElementById('pointOfMeasure').value;
            const code = document.getElementById('code').value;
            const howToMeasure = document.getElementById('howToMeasure').value;
            const critical = document.getElementById('critical').value;
            const type = document.getElementById('type').value;
            const tolerance = document.getElementById('tolerance').value;
            const sizeS = document.getElementById('sizeS').value;
            const sizeM = document.getElementById('sizeM').value;
            const sizeL = document.getElementById('sizeL').value;
            const sizeXL = document.getElementById('sizeXL').value;

            const tableBody = document.querySelector('#dataTable tbody');
            const newRow = document.createElement('tr');

            newRow.innerHTML = `
                <td>${pointOfMeasure}</td>
                <td>${code}</td>
                <td>${howToMeasure}</td>
                <td>${critical}</td>
                <td>${type}</td>
                <td>${tolerance}</td>
                <td>${sizeS}</td>
                <td>${sizeM}</td>
                <td>${sizeL}</td>
                <td>${sizeXL}</td>
            `;

            tableBody.appendChild(newRow);
            const inputsToClear = ['pointOfMeasure', 'code', 'howToMeasure', 'critical', 'type', 'tolerance', 'sizeS', 'sizeM', 'sizeL', 'sizeXL'];
    
            inputsToClear.forEach(id => {
                document.getElementById(id).value = '';
            });
        });

        function previewImage(event) {
            const imagePreview = document.getElementById('imagePreview');
            const file = event.target.files[0];
                
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result; 
                };
                    
                reader.readAsDataURL(file); 
            }
        }

        // Function to extract ID from the URL
        let enq_id;
        function getIdFromUrl() {
            const url = window.location.href; 
            const id = url.substring(url.lastIndexOf('/') + 1); 
            enq_id = id;
            return id;
        }

        // Function to fetch data using the extracted ID
        function fetchData(id) {
            const apiUrl = '/api/v1/enquiry/view';

            $.ajax({
                url: apiUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: id }), 
                success: function(response) {
                    if (response.status) {
                        const data = response.data;
                        function formatDate(date) {
                            const options = { year: 'numeric', month: 'short', day: '2-digit' };
                            return new Date(date).toLocaleDateString('en-GB', options).replace(/ /g, '-');
                        }
                        const today = new Date();
                        document.getElementById('customerName').textContent = data.client_name;
                
                        document.getElementById('enquiryType').textContent = data.type === 1 ? 'Coasting Request' : 'Sample Request';
                        
                        if (data.file) {
                            document.getElementById('fileLink').textContent = data.file;
                        } else {
                            document.getElementById('fileLink').textContent = 'No file';
                        }

                        document.getElementById('enquiryNo').textContent = data.enq_number;  
                        document.getElementById('enquiryDate').textContent = formatDate(today); 
                        document.getElementById('gsrNo').textContent = data.gsr_number;  
                        console.log('Data retrieved successfully:', response.data);
                      
                    } else {
                        alert('Failed to retrieve data.');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching data:', textStatus, errorThrown);
                    alert('Error occurred while fetching data.');
                }
            });
        }

        // Main function to execute on DOM content loaded
        document.addEventListener('DOMContentLoaded', () => {
            const id = getIdFromUrl(); // Get ID from URL
            fetchData(id); // Fetch data using the extracted ID
        });


        function gatherFabricData() {
            const fabricData = [];
            const fabricSections = document.querySelectorAll('.fabric-section'); // Get all fabric sections

            fabricSections.forEach(section => {
                const knitStructure = section.querySelector('#knitStructure');
                const blend = section.querySelector('#blend');
                const gsm = section.querySelector('#gsm');
                const finish = section.querySelector('#finish');
                const dryMethod = section.querySelector('#dryMethod');
                const placement = section.querySelector('#placement');

                // Ensure that the inputs exist before accessing their values
                if (knitStructure && blend && gsm && finish && dryMethod && placement) {
                    const fabricInfo = {
                        knitStructure: knitStructure.value,
                        blend: blend.value,
                        gsm: gsm.value,
                        finish: finish.value,
                        dryMethod: dryMethod.value,
                        placement: placement.value,
                    };
                    fabricData.push(fabricInfo); 
                }
            });

            return fabricData; 
        }

        // Function to gather accessory fabric data
        function gatherAccessoryFabricData() {
            const accessoryData = [];
            const accessorySections = document.querySelectorAll('.accessory-section'); // Get all accessory sections

            accessorySections.forEach(section => {
                const knitStructure = section.querySelector('#knitStructureAccessory');
                const blend = section.querySelector('#blendAccessory');
                const gsm = section.querySelector('#gsmAccessory');
                const placement = section.querySelector('#placementAccessory');

                // Ensure that the inputs exist before accessing their values
                if (knitStructure && blend && gsm && placement) {
                    const accessoryInfo = {
                        knitStructure: knitStructure.value,
                        blend: blend.value,
                        gsm: gsm.value,
                        placement: placement.value,
                    };
                    accessoryData.push(accessoryInfo); // Add the accessory info to the array
                }
            });

            return accessoryData; // Return the collected data
        }

        function gatherComboFabricData() {
            const comboData = [];
            const comboSections = document.querySelectorAll('.accessory-section-combo'); // Get all combo sections

            comboSections.forEach(section => {
                const comboNo = section.querySelector('#comboNo');
                const size = section.querySelector('#size');
                const pieces = section.querySelector('#Pieces');

                // Ensure that the inputs exist before accessing their values
                if (comboNo && size && pieces) {
                    const comboInfo = {
                        comboNo: comboNo.value,
                        size: size.value,
                        pieces: pieces.value,
                    };
                    comboData.push(comboInfo); 
                }
            });

            return comboData; 
        }

        function gatherTrimData() {
            const trimsData = [];
            const buttonSections = document.querySelectorAll('.trim-section'); 
            const threadSections = document.querySelectorAll('.trim-section-thread'); 
            const labelSections = document.querySelectorAll('.label-section');

            // Gather button data
            buttonSections.forEach(section => {
                const description = section.querySelector('#buttonDescription');
                const content = section.querySelector('#buttonContent');
                const placement = section.querySelector('#buttonPlacement');

                if (description && content && placement) {
                    trimsData.push({
                        type: 1,
                        description: description.value,
                        content: content.value,
                        placement: placement.value
                    });
                }
            });

            // Gather thread data
            threadSections.forEach(section => {
                const description = section.querySelector('#threadDescription');
                const content = section.querySelector('#threadContent');
                const placement = section.querySelector('#threadPlacement');

                if (description && content && placement) {
                    trimsData.push({
                        type: 2,
                        description: description.value,
                        content: content.value,
                        placement: placement.value
                    });
                }
            });

            // Gather label data
            labelSections.forEach(section => {
                const description = section.querySelector('#label1Description');
                const placement = section.querySelector('#label1Placement');

                if (description && placement) {
                    trimsData.push({
                        type: 3,
                        description: description.value,
                        content: '', 
                        placement: placement.value
                    });
                }
            });

            return trimsData; 
        }

        function gatherSpecSheetData() {
            const specSheetsData = [];
            const rows = document.querySelectorAll('#dataTable tbody tr'); 

            rows.forEach(row => {
                const pointOfMeasure = row.querySelector('td:nth-child(1)').innerText; 
                const code = row.querySelector('td:nth-child(2)').innerText; 
                const howToMeasure = row.querySelector('td:nth-child(3)').innerText;
                const critical = parseInt(row.querySelector('td:nth-child(4)').innerText) || 0; 
                const type = parseInt(row.querySelector('td:nth-child(5)').innerText) || 0; 
                const tolerance = parseInt(row.querySelector('td:nth-child(6)').innerText) || 0; 
                const s = parseInt(row.querySelector('td:nth-child(7)').innerText) || 0;
                const m = parseInt(row.querySelector('td:nth-child(8)').innerText) || 0; 
                const l = parseInt(row.querySelector('td:nth-child(9)').innerText) || 0; 
                const xl = parseInt(row.querySelector('td:nth-child(10)').innerText) || 0; 

                specSheetsData.push({
                    pointOfMeasure,
                    code,
                    howToMeasure,
                    critical,
                    type,
                    tolerance,
                    s,
                    m,
                    l,
                    xl
                });
            });

            return specSheetsData; 
        }

        function getSelectedCheckboxes() {
            const checkboxes = document.querySelectorAll('.form-check-input');
            const selectedValues = [];

            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedValues.push(checkbox.value);
                }
            });

            return selectedValues;
        }

        // Event listener for submit button
        document.getElementById('submit-button').addEventListener('click', () => {
            const enquiryMainFabrics = gatherFabricData(); 
            const enquiryAccessoriesFabrics = gatherAccessoryFabricData();
            const enquiryCombo = gatherComboFabricData();
            const enquiryTrims = gatherTrimData();
            const enquirySpecSheets = gatherSpecSheetData();
            const values = getSelectedCheckboxes();
            const result = {
                enquiryId: enq_id,
                enquiryMainFabrics,
                enquiryAccessoriesFabrics,
                enquiryCombo,
                enquiryTrims,
                enquirySpecSheets,
                values
            };
            console.log('Result:', result); 

            $.ajax({
                url: '/api/v1/enquiry_data/add',
                type: 'POST',
                contentType: 'application/json', 
                data: JSON.stringify(result), 
                success: function(enquiryResult) {
                    if (enquiryResult.status) {
                        showAlert({
                            message: "Success: Enquiry added successfully",
                            closeText: 'ok',
                            closeFunction: function () {
                                window.location.href = `/dashboard`;
                            },
                        });
                    } else {
                        showAlert({
                            message: ("Failed to submit enquiry.",enquiryResult.message),
                            closeText: 'ok',
                            closeFunction: function () {
                            },
                        });
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error submitting enquiry:', textStatus, errorThrown);
                    alert('Error occurred while submitting enquiry.');
                }
            });
        });
    </script>
</body>

</html>
