<!DOCTYPE html>
<html lang="en">

<head>
  <%-head%>
</head>

<body>

  <%-nav%>

    <div class="mx-5">

      <div class="mt-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CSR No</th>
              <th scope="col">Customer</th>
              <th scope="col">Enquiry No</th>
              <th scope="col">Enquiry</th>
              <th scope="col">Enquiry Date</th>
              <th scope="col">File</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <% enquiry.forEach((item, index)=>{
              if(item.type == 1) {
           %>
             <tr>
               <td><%=item.gsr_number%></td>
               <td><%=item.client_name%></td>
               <td><%=item.enq_number%></td>
               <td>-</td>
               <td><%=item.added_time%></td>
               <td><%=item.file%></td>
               <td>
                 <div class="dropdown dropend">
                   <button class="btn btn-sm p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="/assets/images/icons/Group 482180.svg" alt="dropdown" width="25" height="25">
                   </button>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li class="delete-button" data-id="<%=item.id%>"><a class="dropdown-item" href="#" >Delete</a></li>
                     <li><a class="dropdown-item">Edit</a></li>
                     <li><a class="dropdown-item">Approve</a></li>
                      <li><a class="dropdown-item">Reject</a></li>
                   </ul>
                 </div>
               </td>
             </tr>
           <%}})%>
          </tbody>
        </table>
      </div>

      <%-script%>
        <script>

          $(document).ready(function () {
          });


          $(document).ready(function () {
            $('.delete-button').click(function (e) {
              e.preventDefault();
              var id = $(this).data('id');
              deleteClient(id);
            });
          });
          function deleteClient(id) {
            showAlert({
              message: "Are you sure you want to delete this client?",
              closeText: 'no',
              acceptText: 'yes',
              acceptFunction: () => {
                $.ajax({
                  url: '/api/v1/enquiry/delete',
                  type: 'POST',
                  data: { id: id },
                  success: function (response) {
                    if (response.status) {
                      location.reload();
                    } else {
                      showAlert({
                        message: "ERROR: " + response.message,
                        closeText: 'ok',
                      });
                    }
                  },
                  error: function (err) {
                    console.log(err);
                  }
                });
              },
            });
          }
        </script>

</body>

</div>

</html>